<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.blunch.blunch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.CollaborativeMenuAnswerActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.NewCollaborativeMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.ListMenusActivity">
        </activity>
        <activity
            android:name=".activity.GetCollaborativeMenuActivity"
            android:parentActivityName=".activity.ListMenusActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ListMenusActivity"
            android:label="@string/title_activity_list_menus"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NewPaymentMenuActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.ListMenusActivity">
        </activity>
        <activity
            android:name=".activity.GetPaymentMenuActivity"
            android:parentActivityName=".activity.ListMenusActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.ProposalListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.PaymentPetitionsListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
