<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.blunch.blunch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NewCollaborativeMenuActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NewPaymentMenuActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.GetCollaborativeMenuActivity"
            android:label="@string/getMenuCollaborativeActivity_name"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.GetPaymentMenuActivity"
            android:label="@string/getPaymentMenuActivity_name"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CollaborativeMenuAnswerActivity"
            android:label="@string/title_activity_collaborative_menu_answer"
            android:parentActivityName=".activity.GetCollaborativeMenuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CollaborativePetitionsListActivity"
            android:label="@string/title_proposal_list"
            android:parentActivityName=".activity.GetCollaborativeMenuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PaymentPetitionsListActivity"
            android:label="@string/title_activity_payment_petitions_list"
            android:parentActivityName=".activity.GetPaymentMenuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ChatActivity"
            android:label="@string/title_activity_chat"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
